In [88]:
import pandas as pd

df_train = pd.read_csv('train.csv')
df_test = pd.read_csv('test.csv')

df_train.dropna(inplace=True)
df_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,3101298,12.2875,NaN,S

In [89]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

df_X = df_train[['Pclass','Sex','Age']]
df_y = df_train['Survived']
df_X.head()

    Pclass  Sex   Age
1        1    0  38.0
3        1    0  35.0
6        1    1  54.0
10       3    0   4.0
11       1    0  58.0

In [90]:
df_X_train, df_X_test, df_y_train, df_y_test = train_test_split(df_X, df_y, random_state=0)
lr = LinearRegression().fit(df_X_train, df_y_train)

print("Правильность на обучающем наборе: {:.2f}".format(lr.score(df_X_train, df_y_train)))
print("Правильность на тестовом наборе: {:.2f}".format(lr.score(df_X_test, df_y_test)))

Правильность на обучающем наборе: 0.31
Правильность на тестовом наборе: 0.23

In [91]:
from sklearn.tree import DecisionTreeRegressor
tree = DecisionTreeRegressor().fit(df_X_train, df_y_train)
pred_tree = tree.predict(df_X_test)

In [92]:
df_test = pd.read_csv('test.csv')
df_test = df_test[['PassengerId','Pclass','Sex','Age']]
df_test['Age'].fillna(value=df_test['Age'].median(),inplace=True)

In [93]:
df_test.loc[:,'Pclass':].head()

   Pclass  Sex   Age
0       3    1  34.5
1       3    0  47.0
2       2    1  62.0
3       3    1  27.0
4       3    0  22.0

In [94]:
y_pred = tree.predict(df_test.loc[:,'Pclass':])

In [85]:
#from sklearn.ensemble import RandomForestClassifier

#forest = RandomForestClassifier(n_estimators=100, random_state=0)
#forest.fit(df_X_train, df_y_train)

#print("Правильность на обучающем наборе: {:.3f}".format(forest.score(df_X_train, df_y_train)))
#print("Правильность на тестовом наборе: {:.3f}".format(forest.score(df_X_test, df_y_test)))

Правильность на обучающем наборе: 1.000
Правильность на тестовом наборе: 0.848

In [86]:
#y_pred = forest.predict(df_test.loc[:,'Pclass':])

In [98]:
from sklearn.ensemble import GradientBoostingClassifier
gbrt = GradientBoostingClassifier(random_state=0)
gbrt.fit(df_X_train, df_y_train)
print("Правильность на обучающем наборе: {:.3f}".format(gbrt.score(df_X_train, df_y_train)))
print("Правильность на тестовом наборе: {:.3f}".format(gbrt.score(df_X_test, df_y_test)))

Правильность на обучающем наборе: 0.934
Правильность на тестовом наборе: 0.848

In [99]:
y_pred = gbrt.predict(df_test.loc[:,'Pclass':])

In [100]:
import numpy as np
submission = pd.DataFrame({
        "PassengerId": df_test["PassengerId"],
        "Survived": np.round(y_pred,0)
    })
submission.to_csv('titanic.csv', index=False)